In [1]:
# Integers
# Type: int 
# Description: Whole numers like 3,300,200

In [1]:
# Floating Point
# Type: float
# Description: Numbers with a decimal point: 2.3,4.6,100.0

In [3]:
# Strings
# Type: str
# Description: Ordered sequence of characters like "hello" 'Sammy' "2000" "Good day to you!"

In [5]:
# Lists
# Type: list
# Description: Ordered sequence of objects: [10,"hello",200.3]

In [6]:
# Dictionaries
# Type: dict
# Description: Unordered Key:Value pairs: {"mykey":"value", "name":"Michael"}

In [7]:
# Tuples
# Type: tup
# Description: Ordered immutable sequence of objects: (10,"hello",200.3)

In [8]:
# Sets
# Type: set
# Description: Unordered collection of unique objects: {"a","b"}

In [9]:
# Booleans
# Type: bool
# Description: Logical value indicating True or False

In [10]:
# Python Numbers

In [11]:
1+1

2

In [12]:
2-1

1

In [13]:
2*2

4

In [14]:
3/2

1.5

In [20]:
# Modulo ("Mod" operator)
# good way to check if something is an even or odd number
4%2
# remainder of 0 means number is even as 2 is able to go into 4 with no remainder. If it wasn't a 0, then it would mean the number you are trying to divide is odd.

0

In [18]:
# number to the power or something
2**3

8

In [21]:
2+10 * 10+3

105

In [22]:
(2+10) * (10+3)

156

In [25]:
# Variable Assignments
# Rules for variable names: 1. Cannot start with a number. 2. There can be no spaces in the name, use _ instead. 3. Can't use the following symbols: "',<>/?|\()!@#$%^&*~-+
# Best Practice ti have variable names be lowercase. 
# Avoid using words that have special meaning in Python like "list" and "str"

In [1]:
a = 5

In [2]:
a+a

10

In [3]:
a = a+a

In [4]:
a

10

In [7]:
a

10

In [8]:
type(a)

int

In [9]:
a = 30.1

In [10]:
type(a)

float

In [11]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [12]:
my_taxes

10.0

In [15]:
# Introduction to Strings
# Strings are ordered sequences, so you can use indexing and slicing to grab sub-sections of the string
# Indexing notation uses [] after the string or the variable assigned to the string

In [16]:
# Slicing uses the following syntax: [start:stop:step]
# Start is a numerical index for the slice start
# Stop is the index you will go up to (but not include)
# Step is the size of the "jump" you will take

In [20]:
'hello'

'hello'

In [18]:
"hello"

'hello'

In [19]:
"I'm going to leave."

"I'm going to leave."

In [22]:
print("Hello")
print("Let's leave")

Hello
Let's leave

In [24]:
# Escape sequence of \n indicates a new line should be printed out for the rest of the string
# Escape sequence of \t indicates there should be a tab indent
print('hello \n world')
print("Hello \tworld")

hello
 world
Hello 	world

In [25]:
# len counts the length of the string, including spaces
len('I am')

4

In [26]:
# Indexing and Slicing with Strings

In [27]:
mystring="Hello World"

In [36]:
# Indexing
mystring[0]

'a'

In [29]:
mystring[6]

'W'

In [30]:
mystring[5]

' '

In [31]:
mystring[-3]

'r'

In [32]:
mystring='abcdefghijk'

In [35]:
# Slicing
mystring[2::]

'cdefghijk'

In [37]:
mystring[:3]

'abc'

In [38]:
mystring[3:6]

'def'

In [39]:
mystring[1:3]

'bc'

In [40]:
mystring[::]

'abcdefghijk'

In [41]:
mystring[::2]

'acegik'

In [43]:
# Reverse string
mystring[::-1]

'kjihgfedcba'

In [44]:
# String Properties and Methods

In [45]:
# Immutability
# Strings are immutable

In [46]:
name = "Sam"

In [48]:
last_letters = name[1:]

In [49]:
last_letters

'am'

In [55]:
# String Concatenation
'P' + last_letters

'Pam'

In [51]:
new_name = 'P' + last_letters

In [52]:
new_name

'Pam'

In [53]:
x = 'Hello World'

In [54]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [56]:
letter = 'z'

In [58]:
# String Multiplication
letter *10

'zzzzzzzzzz'

In [59]:
x = 'Hello World'

In [66]:
# String Methods
x.__contains__('el')

True

In [67]:
x.lower()

'hello world'

In [68]:
x.split()

['Hello', 'World']

In [69]:
x = 'Hi this is a string'

In [71]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [72]:
# Print Formatting with Strings

In [74]:
# String Interpolation with .format() method
'String here {} then also {}'.format('something1','something2')
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [75]:
# Strings can be inserted by index position
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [77]:
# Can also use variables
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

In [78]:
# Float formatting
# {value:width.precision f}

In [79]:
result = 100/777

In [80]:
result

0.1287001287001287

In [82]:
print("the result was {r:1.5f}".format(r=result))

the result was 0.12870

In [89]:
print("the result was {r:1.1f}".format(r=result))

the result was 0.1

In [87]:
print("the result was {r:10.5f}".format(r=result))

the result was    0.12870

In [90]:
# String Literal method

In [91]:
name = 'Jose'

In [96]:
print(f'Hello, his name is {name}.')

Hello, his name is Michael.

In [94]:
name = "Michael"
age = 3

In [95]:
print(f'{name} is {age} years old.')

Michael is 3 years old.

In [97]:
# Lists
# Ordered sequences that can hold a variety of object types
# Use [] brackets and commas to separate objects in the list
[1,2,3,4,5]
# Lists support indexing and slicing, can be nested

[1, 2, 3, 4, 5]

In [98]:
my_list = [1,2,3]

In [99]:
my_list = ['string',100,23.2]

In [100]:
len(my_list)

3

In [101]:
mylist = ['one','two','three']

In [102]:
mylist[1]

'two'

In [103]:
mylist[1:]

['two', 'three']

In [104]:
another_list = ['four','five']

In [105]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [106]:
new_list = mylist + another_list

In [107]:
new_list

['one', 'two', 'three', 'four', 'five']

In [108]:
new_list[0] = 'ONE ALL CAPS'

In [109]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [110]:
new_list.append('six')

In [111]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [112]:
new_list.append('seven')

In [113]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [121]:
# pop method defaults to pop off the element at the end of the list, which is index [-1]
new_list.pop()

'five'

In [115]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [116]:
popped_item = new_list.pop()

In [117]:
popped_item

'six'

In [120]:
# can put an indedx number in the parenthesis to pop off a specific element in the list
new_list.pop(0)

'two'

In [119]:
new_list

['two', 'three', 'four', 'five']

In [122]:
new_list = ['a','e','x','y']
num_list = [4,7,3,7,89]

In [123]:
new_list.sort()

In [124]:
new_list

['a', 'e', 'x', 'y']

In [125]:
num_list.sort()

In [126]:
num_list

[3, 4, 7, 7, 89]

In [127]:
my_sorted_list = new_list.sort()

In [128]:
my_sorted_list

In [130]:
# Nonetype is a type for the None object. Is used to indicate no value and does not return a value
type(my_sorted_list)

NoneType

In [132]:
new_list.sort()
my_sorted_list = new_list

In [133]:
my_sorted_list

['a', 'e', 'x', 'y']

In [134]:
num_list.reverse()

In [135]:
num_list

[89, 7, 7, 4, 3]