WARMUP SECTION

Lesser of 2 Evens: Write a function that returns the lesser of two given numbers if both numbera are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a > b:
            return a
        else:
            return b

In [2]:
lesser_of_two_evens(2,4)

2

In [3]:
lesser_of_two_evens(2,5)

5

In [4]:
lesser_of_two_evens(10,4)

4

In [6]:
lesser_of_two_evens(11,9)

11

In [12]:
# optimized solution
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return  min(a,b)
    else:
       return  max(a,b)

In [13]:
lesser_of_two_evens(2,4)

2

In [14]:
lesser_of_two_evens(2,5)

5

In [15]:
lesser_of_two_evens(10,4)

4

In [16]:
lesser_of_two_evens(11,9)

11

Animal Crackers: Write a function that takes a two-word string and returns True if both words begin with the same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [21]:
def animal_crackers(text):
    wordlist = text.split()

    first = wordlist[0]
    second = wordlist[1]

    return first[0] == second[0]

In [22]:
animal_crackers('Levelheaded Llama')

True

In [23]:
animal_crackers('Crazy Kangaroo')

False

In [24]:
# optmized function
def animal_crackers(text):
    wordlist = text.split()

    return wordlist[0][0] == wordlist[1][0]

In [25]:
animal_crackers('Levelheaded Llama')

True

In [26]:
animal_crackers('Crazy Kangaroo')

False

In [27]:
animal_crackers('Krazy Kangaroo')

True

Makes Twenty: Given two integers, return True if the sum of the integers is 20 or if onw of the integers is 20. If not, return false.

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [32]:
def makes_twenty(a,b):
    if a+b ==20 or a == 20 or b == 20:
        return True
    else:
        return False

In [36]:
makes_twenty(20,10)

True

In [34]:
makes_twenty(12,8)

True

In [35]:
makes_twenty(2,3)

False

LEVEL ONE SECTION

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

In [59]:
def old_macdonald(name):
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    afterletters = name[4:]

    return first_letter.upper()+inbetween+fourth_letter.upper()+afterletters

In [67]:
old_macdonald('macdonald')

'MacDonald'

In [65]:
# optimized solution

def old_macdonald(name):

    first_half = name[:3]
    second_half = name[3:]

    return first_half.capitalize()+second_half.capitalize()

In [66]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are we'

In [90]:
# for join, it will use whatever is inbetween the quotes before the .join to fill in for the commas on the list
def master_yoda(text):
    wordlist = text.split(' ')
    reveresed_word_list = wordlist[::-1]
    reveresed_word_list
    return' '.join(reveresed_word_list)

In [89]:
master_yoda('I am home')

'home am I'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost _there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

In [114]:
# abs gives absolute value
def almost_there(n):

    if abs(100-n) <= 10:
        return True
    elif abs(200-n) <=10:
        return True
    else: return False

In [107]:
almost_there(90)

True

In [108]:
almost_there(104)

True

In [112]:
almost_there(150)

False

In [113]:
almost_there(209)

True

In [116]:
# optimized solution

def almost_there(n):
    return (abs(100-n) <= 10) or (abs(200-n) <=10)

In [117]:
almost_there(90)

True

In [118]:
almost_there(104)

True

In [119]:
almost_there(150)

False

In [120]:
almost_there(209)

True

LEVEL TWO SECTION

Find 33: Given a list of ints, return True if the array contains a 3 next to a 3 somehwere

has_33([1,3,3]) --> True

has_33([1,3,1,3]) --> False

has_33([3,1,3]) --> False

In [121]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True

    return False

In [122]:
has_33([1,3,3])

True

In [123]:
has_33([1,3,1,3])

False

In [124]:
# alternative way to solve that is a little less readable
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True

    return False

In [125]:
has_33([1,3,3])

True

In [126]:
has_33([1,3,1,3])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are 3 characters

paper_doll('Hello') ==> 'HHHeeellllllooo'

In [138]:
def paper_doll(text):
    newtext=''
    for letter in text:
        newtext += letter*3
    return newtext

In [139]:
paper_doll('Hello')

'HHHeeellllllooo'

BLACKJACK: Given 3 integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'.

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [142]:
def blackjack(a,b,c):
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c])-10
    elif sum([a,b,c]) > 21:
        return 'BUST'

In [143]:
blackjack(5,6,7)

18

In [144]:
blackjack(9,9,9)

'BUST'

In [145]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1,3,5]) --> 9

summer_69([4,5,6,7,8,9]) --> 9

summer_69([2,1,6,9,11]) --> 14

In [155]:
def summer_69(arr):

    total = 0
    add = True

    for num in arr:
        while add:
            if num!= 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [150]:
summer_69([1,3,5])

9

In [156]:
summer_69([4,5,6,7,8,9])

9

In [157]:
summer_69([2,1,6,9,11])

14